<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do-list</title>
    <link rel="stylesheet" href="./styel.css">
</head>
<body>
    <h2 class="hero-text">today tasks</h2>


        <div  class="show-list" id="showList">
        </div>
    


    <section>
            <form id="form" action="" method="post">
                <p class="show-strin-task">{{one}} {{two}} {{three}} {{four}}</p>

                <label  class="label" for="nameradder">how</label>
                <br>
                <input  v-model="one" type="text"  id="nameradder" placeholder="name" required>
                <br>
                <label class="label" for="task">tasks</label>
                <br>
                <input  v-model="two" type="text" id="task" placeholder="what task"required>
                <br>
                <label class="label" for="moreinfo">Details</label>
                <br>
                <input  v-model="three" type="text" id="moreinfo" placeholder="more information"required>
                <br>
                <label class="label" for="deadtime">daed line</label>
                <br>
                <input  v-model="four" type="date" id="deadtime" placeholder="time"required>
                <br>

                <input @click.prevent="btn" class="sub" id="btn" type="submit" value="add to list">
            </form>
    </section>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/filevue.js"></script>
    <!-- <script src="./js/app.js"></script>
    <script src="./js/app.js"></script> -->
</body>
</html>